<div class="fondo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 interna mx-auto p-5">
                <h1 class="display-4 text-center mt-5 text-monospace">¿Quienes somos?</h1>
                <div class="row">
                    <p class="text-justify text-monospace font-weight-bold">
                        Somos una empresa creada con el objetivo de brindar soluciones integrales en el campo eléctrico y de refrigeración en todos sus niveles, siendo la única empresa que integra soluciones para las necesidades en las diferentes aplicaciones que generan sistemas eléctricos y de refrigeración.
                    </p>
                </div>
                <h1 class="display-4 text-center mt-5 text-monospace">Misión</h1>
                <div class="row">
                    <p class="text-justify text-monospace font-weight-bold">
                        Somos una empresa dedicada a atender las necesidades de repuestos y servicios en el mercado automotor, industrial y naval, brindando un excelente servicio de venta, post venta y mantenimiento a nuestros clientes. Somos comercializadores de repuestos originales y alternativos de calidad a precios competitivos.                
                    </p>
                </div>
                <h1 class="display-4 text-center mt-5 text-monospace">Visión</h1>
                <div class="row">
                    <p class="text-justify text-monospace font-weight-bold">
                        Ser la mejor empresa de servicios y ventas de repuestos eléctricos y refrigeración en el campo automotriz, residencial, industrial y naval en Colombia, brindando un excelente servicio en venta y post-venta, generando valor agregado para nuestros clientes y la sociedad.
                    </p>
                </div>
            </div>
        </div>        
    </div>
</div>
<iframe class="mt-4" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15700.20185150662!2d-75.49855195!3d10.337846849999998!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1541181323118" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>