<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background:#2A587F;">
  <h2  class="font-weight-bold text-white d-none d-md-block" href="#"><a id="refri" routerLink="/category">Refrielectricos Motors SAS</a> </h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span><i class="d-inline d-md-none">Refrielectricos Motors</i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuestros servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/services">Comercialización de repuestos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/services">Mantenimiento industrial y naval</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/category">Catalogo de productos <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">¿Quienes somos?</a>
      </li>      
    </ul>
  </div>

  <a class="nav-link font-weight-bold text-center" data-toggle="tooltip" data-placement="bottom" title="Articulos agregados"   routerLink="/factura"><img src="../../../assets/add-cart.png" alt=""> <span class="badge badge-warning">{{num_articulos}}</span></a>

</nav>
