<div class="container-fluid mt-5 p-5">
    <h1 class="display-4">Repuestos en Cartagena</h1>
    <hr>
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="../../../assets/about/auto-repair.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Reparamos todo tipo de maquinaria</h5>
          <p class="card-text">Personal capacitado y con experiencia.</p>
        </div>
      </div>
      <div class="card p-0">
        <blockquote class="blockquote mb-0 card-body">
          <p>Repuestos industriales en Cartagena.</p>
        </blockquote>
        <img class="card-img" src="../../../assets/productos/82.jpeg" alt="Card image">
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/about/cylinders.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Todo tipo de repuestos</h5>
          <p class="card-text">Repuestos nuevos, con garantia y de primera calidad.</p>
          <p class="card-text"><small class="text-muted"><a routerLink="/category">Ver catalogo completo</a></small></p>
        </div>
      </div>
      <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>RefriElectricos te brinda acompañamiento en tu reparación.</p>
          <footer class="blockquote-footer">
            <small style="color:black">
              Somos <cite title="Source Title">RefriElectricos.com</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">¿Quieres contactarnos?</h5>
          <p class="card-text"><img src="../../../assets/whatsapp.png" alt="">+57 3016580361</p>
          <p class="card-text"><small class="text-muted">Escribenos, te respondemos de inmediato</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="../../../assets/productos/1.jpeg" alt="Card image">
      </div>
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <p>Estamos ubicados en Cartagena sector industrial Parque America.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Visita nuestro almacen, estaremos felices de recibirte.
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Comercializamos repuestos en Cartagena</h5>
          <p class="card-text"><small class="text-muted"><a routerLink="/category">Ver catalogo</a></small></p>
        </div>
        <img class="card-img" src="../../../assets/about/auto.jpg" alt="Card image">          
      </div>
    </div>
</div>
<h4 class="display-4 mt-2 text-center">Mantenimiento industrial y naval en Cartagena</h4>
<hr>
<div class="container-fluid wrapper p-5">
  <div class="card-group d-flex justify-content-between">
    <div class="card mt_indutrial">
      <img class="card-img-top" src="./../../../assets/about/1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mt_indutrial">
      <img class="card-img-top" src="./../../../assets/about/2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mt_indutrial">
      <img class="card-img-top" src="./../../../assets/about/3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  

  <script>

</script>
  